/* hello world! My name is Alisher. This file created in 20:49, 14.10.2022 */
/* Привет, мир! Меня зовут Алишер. Этот файл создан в 20:49, 14.10.2022 */
/* Сәлем Әлем! Менің атым Әлішер. Бұл файл 20:49, 14.10.2022-да жасалған */

.mainheader {
    /* main */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.mainheaderdiv1 {
    display: flex;
    align-items: center;
    background-color: rgb(30, 30, 30);
    max-width: 50%;
    box-shadow: -15px 15px 10px 5px rgb(0, 0, 0);
}

.mainheaderdiv1 .mainheaderdiv1a {
    transition: 0.2s;
    /* text */
    text-decoration: none;  
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding */
    padding-right: 15px;
    padding-left: 15px;
    /* margin */
    margin-left: 55px;
    margin-right: 55px;
}

.mainheaderdiv1 .mainheaderdiv1a:hover {
    transition: 0.2s;
    background-color: rgb(33, 33, 33);
    box-shadow: -10px 25px 10px 5px rgb(0, 0, 0);
    text-shadow: 0  0 6px rgb(255, 255, 255);
}

.mainbody {
    background-color: rgb(18, 18, 18);
}

.mainsection1 {
    /* p & m */
    padding: 15px;
    margin: 80px;
    background-color: rgb(10, 10, 10);
    box-shadow: -15px 15px 10px 5px rgb(0, 0, 0);
}

.mainsection1h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.mainsection1h1:hover {
    text-shadow: 0  0 6px rgb(255, 255, 255);
}

.mainsection1p {
    color: white;
    margin: 15px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

/* MAIN/HTML.PROFILE */
.profilediv1 {
    margin: 50px;
    padding: 5px;
    background-color: rgb(30, 30, 30);
    max-width: 100%;
    box-shadow: -15px 15px 10px 5px rgb(0, 0, 0);
}

.profiletitle {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
}


.profileelements {
    text-decoration: none;
    display: flex;
    margin: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

.profileavatar {
    border: 1px solid white;
    transition: 0.2s;
}

.profileavatar:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.profiledescP {
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding: 3px;
}
